{% extends 'base.html'%} 
{% block head %}
<h1>Welcome to Flask Introduction</h1>
{% endblock %}
 {% block body %}
<h2>By Shankar Bohara</h2>
<p>Software Developer</p>
{% for post in posts %}
<a href="{{url_for('post', post_id=post['id']) }}">
  <h2>{{ post['title'] }}</h2>
</a>
<span class="badge badge-primary">{{ post['created'] }}</span>
<a href="{{ url_for('edit', id=post['id']) }}">
  <span class="badge badge-warning">Edit</span>
</a>
<hr />
{% endfor %}
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste vel blanditiis
  delectus,<br />
  nulla dolore fuga sint pariatur eos fugit nostrum.
</p>

{% endblock %}
